@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;

}
ul{
  list-style: none;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}
/*? Utilities */
/* ! Contianer styling */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*? End Styling Utilities */


/* header styling */
header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  position: relative;
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container nav,
header .container .links {
  display: flex;
  list-style: none;
  align-items: center;
}
header .container .links li {
  padding: 20px 0;
}

header .container .links a {
  padding: 35px 0;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  z-index: 2;
}
header .container .links a:hover,
header .container .links a.active {
  color: var(--main-color);
  border-bottom: 0.5px solid;
}

header .container .icon {
  color: #fff;
  background-color: transparent;
  position: relative;
  padding-left: 15px;
  margin-left: 20px;
}
header .container i {
  color: #fff;
  font-size: 20px;
}
header .container .burger-menu {
  display: none;
}

header .container .search-icon::before {
  content: "";
  position: absolute;
  height: 158%;
  width: 1px;
  background-color: #fff;
  left: -12px;
  top: -11px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 0.5px;
  width: calc(100% - 15px);
  background-color: #fff;
  z-index: -1;
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
  header .container::after {
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  header .container .burger-menu {
    display: block;
    margin-right: 15px;
  }
  header .container .links {
    display: none;
  }
  header .container .burger-menu:hover + .links {
    display: block;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100vw;
    justify-content: start;
    align-items: start;
    background-color: #00000099;
    padding: 15px 0px;
    overflow: hidden;
  }
  
  header .container .links a {
    display: block;
    padding: 15px;
  }
  header .container .links li {
    /* margin: 10px 0; */
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

/* End Header */






/* Start Landing  */
/* Landing Page or Home Page
1. style text
2. style before left arrow
3. style after arrow
*/
.landing {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-color: #1f2021;
  background-size: cover;
  
  
  
  position: relative;
  
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  left: 0;
  top: 0;
}
.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  /* height: 50%; */
  padding: 50px;
  background-color: var(--transparent-color);
  /* padding-left: 31%; */
  color: #fff;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 1.2;
}
.landing .content p {
  line-height: 2;
  font-size: 14px;
}
.landing .text .content {
  position: relative;
  width: 87%;
}

.landing i:last-of-type {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  font-size: 38px;
  color: #fff;
}
.landing i:first-of-type {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  font-size: 38px;
  color: #fff;
}
@media (max-width: 767px) {
  .landing i {
    display: none;
  }
}

.landing ul.circles {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  gap: 19px;
  /* width: 60%; */
}
.landing ul li {
  color: #fff;
  font-size: 52px;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.landing ul .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
